<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analytics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Data Analytics</h1>

        <div class="mt-4">
            <h2>Boxoffice Distribution</h2>
            <img src="static/images/boxoffice_distribution.png" class="img-fluid" alt="Boxoffice Distribution">
        </div>

        <div class="mt-4">
            <h2>Popularity Distribution</h2>
            <img src="static/images/popularity_distribution.png" class="img-fluid" alt="Popularity Distribution">
        </div>
        
        <div class="mt-4">
            <h2>Genre vs Collection</h2>
            <img src="static/images/genre_by_collection.png" class="img-fluid" alt="Genre vs Collection">
        </div>
        
        <div class="mt-4">
            <h2>Correlation Heatmap</h2>
            <img src="static/images/correlation_heatmap.png" class="img-fluid" alt="Correlation Heatmap">
        </div>

        <div class="mt-4">
            <h2>Distribution of Movies by State</h2>
            <img src="static/images/movies_by_state.png" class="img-fluid" alt="Distribution of Movies by State">
        </div>
        
        <div class="mt-4">
            <h2>Actual vs Predicted Box Office Collections (Histogram)</h2>
            <img src="static/images/actual_vs_predicted_histogram.png" class="img-fluid" alt="Actual vs Predicted Histogram">
        </div>

        <div class="mt-4">
            <h2>Model Performance Comparison</h2>
            <img src="static/images/model_performance_comparison.png" class="img-fluid" alt="Model Performance Comparison">
        </div>
        
    </div>
</body>

</html>
